/.vscode
/.vsconfig
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Assets
/CFXRDemo.csproj
/CFXRDemoEditor.csproj
/CFXREditor.csproj
/CFXRRuntime.csproj
/EmptyFolder
/InitCodeMarker
/Library
/LoadingScreen.Misc.csproj
/Logs
/obj
/Oculus.Platform.csproj
/Oculus.Platform.Editor.csproj
/Oculus.VR.csproj
/Oculus.VR.Editor.csproj
/Oculus.VR.Scripts.Editor.csproj
/Packages
/ProjectSettings
/Temp
/UserSettings
/VR-Dragons.sln
/VR.sln